@media screen and (max-width:575px) {

        .container {
            background-color: sienna;
         }
    
        .row {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
        

